<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nouquick</title>
  <link href="/fonts/css/all.css" rel="stylesheet">
  <link href="/style/main.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <script src="/index.js"></script>
  

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
<body>
  <div class="container">
    <nav class="nav-extended">
      <div class="nav-wrapper">
          <a href="/admin" class="title">nouquick</a>
          <a href="#newEntry"><i class="fas fa-plus"></i></a>
          <a href="/logout" class="nav-link"><i class="fas fa-location-arrow"></i></a>      
      </div>
   </nav>
   <main>
     <section class="admin-content">
        <h5>OOPS!</h5>
        <p>Sorry! You cannot view this page offline</p>
        <a href="/">Go to Homepage</a>
     </section>
     
     
   </main>
  </div>

</body>
</html>