<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nouquick</title>


  <link  type="text/css" href="/fonts/css/all.css" rel="stylesheet">
  <link type="text/css" href="/style/main.css" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <script src="/index.js"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div class="container">
    <header class="title logtitle">
        <h1><a href="/">nouquick</a> </h1>
    </header>
   <main>
       <header class="title logtitle">
           <h2>Login</h2>
       </header>
       <div class="login-nav">
         <a href="#studentLogin">Student</a>
         <a href="#adminLogin">Lecturer</a>
       </div>
       <section id="studentLogin" class="login-content">
          <form  action="/student" method="POST">
            <div class="login-field">
                <label for="matricNum">Enter Matric Number:</label>
                <input type="text" id="matricNum" min="12" max="12" name="matric">
                <div class="login-button">
                    <button>Search</button>
                </div> 
            </div>
          </form>
       </section>
      <section id="adminLogin" class="login-content">
          <form  action="/" method="POST">
            <div class="login-field">
               <label for="email">Email:</label>
               <input type="email" id="email" name="username">
            </div>
            <div class="login-field">
                   <label for="password">Password:</label>
                   <input type="password" id="password" name="password">
           </div>
           <div class="login-button">
               <button>Submit</button>
           </div>    
          </form>
        <div>
          <p>New User? <a href="/register">Register</a></p>
          
        </div>
      </section> 
   </main>
  </div>
 


</body>
</html>